/*Geral*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #0c0c0c;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

h1,
h2 {
  color: #ffffff;
  text-shadow: 1px 1px #f50000;
}

p {
  color: #5e5f61;
}


header{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav a #logo {
  margin-right: 20rem;
  width: 20rem;
}


/*Lista*/
header nav {
  display: flex;
  align-items: center;
}
 nav ul.navbar-items {
  list-style: none;
  width: 25rem;
}


.navbar-items li {
  display: inline-block; 
  text-transform: uppercase;
  margin-left: 20px;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: #838383;
  font-weight: bold;
}

/* Banner principal */
.main-banner {
  display: flex;
  flex-direction: column;
  padding: 4em 0em 5em 0em;
  width: 100%;
  border-top: #ffffff 1px solid;
  border-bottom: #ffffff 1px solid;
}
.main-banner h1 {
  margin-left: auto;
  margin-right: auto;
}
.main-banner p {
  color: #fafafa;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 2px;
}
/* Botão saiba mais */
#saiba-mais a {
  padding-left: 28px;
  line-height: 60px;
  font-size: 20px;
}
#saiba-mais {
  height: 60px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0c0c0c;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}
#saiba-mais:hover {
  background-color: #141414;
  transition: 0.3s;
  border: 1px solid rgb(124, 124, 124);
}

#compra {
  color: rgb(102, 206, 102);
}
#venda {
  color: #dd2929;
}

/* Anuncio bots */
#specialties-container {
  width: 100%;
  height: 30rem;
  margin-top: 3rem;
}

#specialties-container ul {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  width: 85%;
  height: 25rem;
}

#specialties-container ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  width: 20rem;
}

.bot-Photos {
  width: 10rem;
}

/*PLanos e Preços*/

.pricing-container {
  width: 75rem;
  margin: 0 auto;
  text-align: center;
}

.pricing-container h1 {
  font-size: 36px;
}
.pricing-container p {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

/*Planos*/

.plan {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.plan ul {
  padding: 0;
}

.plan li {
  width: 25rem;
  list-style: none;
  height: 80px;
  line-height: 80px;
  background-color: #141414;
  color: rgb(94, 94, 94);
}

.plan .price {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 120px;
  font-size: 18px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px; /*Para entrar dentro da div*/
}

.plan .plan-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: rgb(12, 12, 12);
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

/*bOTÃO*/
.plan .btn-selecionar {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 24px;
  height: 65px;
  line-height: 65px;
  cursor: pointer;
  transition: 0.3s;
}

.plan .btn-selecionar:hover {
  background-color: #000;
  color: #b6b6b6;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 3rem;
  padding: 1rem;
  font-weight: bold;
}
